#  Copyright © {{year}} Bentley Systems, Incorporated
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#      http://www.apache.org/licenses/LICENSE-2.0
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

import typing
from unittest.mock import MagicMock, patch

import pytest

from evo.data_converters.common import crs_from_epsg_code
from evo.data_converters.{{converter_type}}.importer.utils import get_geoscience_object_from_{{converter_type}}
from evo.objects.utils.data import ObjectDataClient


@pytest.fixture
def mock_data_client() -> typing.Any:
    return MagicMock(spec=ObjectDataClient)


def test_get_geoscience_object_from_{{converter_type}}_not_implemented(mock_data_client: MagicMock) -> None:
    # TODO: Replace this placeholder with tests for your get_geoscience_object_from_{{converter_type}}
    # implementation. Patch ``read_{{converter_type}}_file`` to return a fake intermediate
    # representation and assert on the returned Geoscience Object.
    with pytest.raises(NotImplementedError):
        get_geoscience_object_from_{{converter_type}}(mock_data_client, "dummy_file.txt", crs_from_epsg_code(4326))
