[project]
name = "evo-data-converters-grd"
description = "Python data converters for Geosoft GRD/GI files to Evo geoscience objects"
version = "0.0.1"
requires-python = ">=3.10"
license-files = ["LICENSE.md"]
dynamic = ["readme"]
authors = [
    { name = "Seequent", email = "support@seequent.com" }
]
dependencies = [
    "evo-data-converters-common",
    "numpy>=1.19.0",
    "olefile>=0.46",
    "pyarrow"
]

[project.urls]
Source = "https://github.com/SeequentEvo/evo-data-converters"
Tracker = "https://github.com/SeequentEvo/evo-data-converters/issues"
Homepage = "https://www.seequent.com/"
Documentation = "https://developer.seequent.com/"

[dependency-groups]
dev = [
    "pytest"
]

[tool.ruff]
src = ["src", "tests"]
line-length = 120

[build-system]
requires = ["hatchling", "hatch-fancy-pypi-readme"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.sdist]
include = ["src"]

[tool.hatch.build.targets.wheel]
packages = ["src/evo"]

# This is only needed for the tinyobjloader github ref above. Once a stable release exists this can go.
[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.metadata.hooks.fancy-pypi-readme]
content-type = "text/markdown"

[[tool.hatch.metadata.hooks.fancy-pypi-readme.fragments]]
path = "README.md"

[[tool.hatch.metadata.hooks.fancy-pypi-readme.substitutions]]
# Literal TOML strings (single quotes) need no escaping of backslashes.
# Converts relative links to absolute links in PyPI
pattern = '\[(.+?)\]\(((?!https?://)\S+?)\)'
replacement = '[\1](https://github.com/SeequentEvo/evo-data-converters/tree/main/packages/geosoft-grd/\g<2>)'
