name: Build and publish evo-data-converters-{{ converter_type }}

permissions:
  # Required for publishing release artifacts
  contents: write
  # Required for PyPI trusted publishing
  id-token: write

on:
  release:
    types: [released]

env:
  GH_TOKEN: {% raw %}${{ github.token }}{% endraw %}

jobs:
  run-tests:
    if: startsWith(github.event.release.tag_name, 'evo-data-converters-{{ converter_type }}@')
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
        package:
          - common
          - {{ converter_type }}
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/testing
        with:
          PACKAGE: {% raw %}${{ matrix.package }}{% endraw %}
          PYTHON_VERSION: {% raw %}${{ matrix.python-version }}{% endraw %}

  build-and-publish:
    name: Build and publish package
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-uv

      - name: Build package
        shell: bash
        run: uv build packages/{{ converter_type }} --out-dir dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Upload artifact to GitHub Release
        shell: bash
        run: gh release upload {% raw %}${{ github.event.release.tag_name }}{% endraw %} dist/*
